<p>Its App Component, Chat bellow</p>

<app-chat-bot
  backgroundColor="#333"
  inputColor="#555"
  botMassageColor="blue"
  userMassageColor="red"
  sendColor="orange"
  scrollbarColor="darkBlue"
  scrollbarTrackColor="lightBlue"
  aiUrl="http://localhost:5000/chat"
  right="50px"
  bottom="30px"
  top=""
  left=""
  width="300px"
  height="400px"
  borderRadius="10px"
  boxShadow="0px 4px 10px rgba(0, 0, 0, 0.2)"
  placeholder="Write message..."
  startMessage=" "
  [show]="false"
  btnBackgroundImage=""
  btnBackgroundSize=""
  btnLeft=""
  btnRight="10px"
  btnBottom="10px"
  btnTop=""
  btnWidth="70px"
  btnHeight="70px"
  btnBorderRadius="999px"
  btnBoxShadow="0px 4px 10px rgba(0, 0,
0, 0.2)"
  btnText="Open Chat"
></app-chat-bot>
